# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (The big folders full of libraries)
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Secret variables (API keys, passwords)
.env
